html, body {
  min-height: calc(100vh - 10px);
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

section#hero {
  padding-top: 1.5rem;
  display: flex;
  gap: 4rem;
  width: calc(100% - 0rem);
  margin: 0 auto;


  .desc {
    min-width: 30%;
  }

}


h1#typewriter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 3rem;
  height: 170px;
  padding-top: 2rem;

  span {
    color: #526ED3;
  }

  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 4rem;
    height: 180px;
  }

  @media (min-width: 1024px) {
    font-size: 72px;
    line-height: 5.5rem;
    height: auto;
    padding-top: 1.5rem;
  }
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
  margin-bottom: 24px;

  .brand-logo {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  .logo {
    // Set default height for smaller screens
    height: 40px;

    // Adjust height for larger screens
    @media (min-width: 1024px) {
      height: 52px;
    }
  }

  .nav-list {
    display: none;
  }

  .get-started-btn {
    width: auto;
    padding: .625rem 1.5rem;
    background-color: #f5f6f7; // Deep blue background
    color: #526ED3; // White text
    font-size: 16px;
    font-weight: 800; // Bold text
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none; // Remove underline from link
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #526ED3;
    transition: background-color 0.3s ease 0.2s, box-shadow 0.3s ease 0.2s;

    &:hover {
      background-color: darken(#fdfefe, 5%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: lighten(#f1f1f1, 10%);
    }
  }

  .menu-toggle {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-navigation {

    .nav-list {
      list-style: none;
      display: flex;
      gap: 24px;
      margin: 0;
      padding: 0;
      justify-content: center;
      flex-grow: 1;

      li a {
        font-size: 18px; // Set the font size to 16px
        font-weight: 400; // 600 is typically semi-bold
        text-decoration: none;
        color: #526ED3;
      }
    }

    .menu-toggle {
      display: none;
    }
  }

}


.beta-banner {
  padding: 8px;
  background: rgba(255, 199, 0, 0.12);
  border-radius: 16px;
  border: 1px solid #FFC700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  .beta-banner-text {
    padding: 3px 10px;
    background: #FFC700;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    font-weight: 800;
  }

  .beta-banner-description {
    color: rgba(27, 31, 59, 0.80);
    font-size: 12px;
    font-weight: 600;
    line-height: 22.86px;
    word-wrap: break-word;
  }
}

.typewriter-container {
  display: flex;
  flex-direction: column; // Stack children vertically by default
  gap: 20px;
  align-items: center;
  width: 100%; // Ensure it takes the full width of its parent

  // For larger screens, change layout to row
  @media (min-width: 770px) {
    flex-direction: row; // Children side by side
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }

  .left-section, .right-section {
    width: 100%; // Full width on smaller screens

    // Adjust for larger screens
    @media (min-width: 770px) {
      flex: 1; // Allows each section to expand and take available space
      &:not(:last-child) {
        margin-right: 20px; // Space between sections
      }
    }
  }

  .left-section {
    @media (min-width: 770px) {
      min-width: auto;
    }

    .sub-text, .typewriter-text span {
      font-size: 14px;
      font-weight: 600;

      @media (min-width: 770px) {
        font-size: 16px;
      }
    }

    .typewriter-text span {
      line-height: normal;
      font-weight: 800;
      word-wrap: break-word;

      @media (min-width: 770px) {
        font-size: 72px;
        line-height: 85.68px;
      }

      &.main-text {
        color: black;
      }

      &.highlighted-text {
        color: #526ED3;
      }
    }
  }

  .right-section {
    padding-top: 0;

    @media (min-width: 770px) {
      flex: 0 0 auto; // This prevents the section from growing
      max-width: 430px; // Set the maximum width
      width: auto; // Allows the width to adjust based on content, up to the max-width
      padding-top: 48px;
    }

    .description {
      text-align: left; // Center text on mobile
      margin-bottom: 24px;
      max-width: 430px;
      min-width: 320px;

      @media (min-width: 770px) {
        text-align: left;
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 40px;
        color: rgba(27, 31, 59, 0.65);
      }
    }

    .cta-button {
      padding: 16px 32px;
      background-color: #526ED3; // Deep blue background
      color: white; // White text
      font-family: 'Manrope', sans-serif;
      font-size: 18px;
      font-weight: 800; // Bold text
      line-height: 24px;
      border-radius: 12px;
      text-align: center;
      display: inline-flex; // Changed to inline-flex
      justify-content: center;
      align-items: center;
      width: auto; // Width set to auto
      transition: background-color 0.3s ease 0.2s, box-shadow 0.3s ease 0.2s;

      &:hover {
        background-color: darken(#526ED3, 10%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: lighten(#526ED3, 10%);
      }
      
    }
  }
}

#carousel {
  position: relative;
  min-height: 230px;
  overflow: hidden;
}

.image-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(200% + 20px); // Adjusted to include the spacing
  height: 30vh;
  display: flex;
  align-items: flex-start;
  animation: slideImages 60s linear infinite; // Adjust time as needed

  .responsive-image {
    width: calc(50% - 10px); // Adjusted width for each image
    height: 100%; // Maintain aspect ratio
    object-fit: cover;
    filter: blur(5px);
    transition: filter 0.5s ease; // Smooth transition for the filter


    &:not(:last-child) {
      margin-right: 20px; // Spacing between the images
    }
  }

  &:hover {
    .responsive-image {
      filter: none; // Remove blur on hover
    }
  }
}

// utilities

.with-gutter-margin {
  margin: 0 16px;
}

.with-gutter {
  padding: 0 16px;
}

.hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .with-gutter {
    padding: 0 40px;
  }
  .with-gutter-margin {
    margin: 0 40px;
  }
}

@media (min-width: 1024px) {
  .with-gutter {
    padding: 0 80px;
  }
  .with-gutter-margin {
    margin: 0 80px;
  }
}

@media (min-width: 1440px) {
  .with-gutter {
    padding: 0 calc(calc(90% - 1104px) / 2);
  }
  .with-gutter-margin {
    margin: 0 calc(calc(90% - 1104px) / 2);
  }
}

@media (min-width: 2560px) {
  .with-gutter {
    padding: 0 calc(calc(100% - 1600px) / 2);
  }
  .with-gutter-margin {
    margin: 0 calc(calc(100% - 1600px) / 2);
  }
}

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // Move by half the width of one image
  }
}
